a{
    background-color: red;
    color: white;
    text-decoration: none;
    font-weight: 600;
}


.wrapper{
    display: flex;
    flex-direction: column-reverse;
    flex-grow: 0;
    align-items: center;
}

.wrapper:nth-child(3){
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
}